<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Enter Password Length</label>
        <input class="input" (input)="onLengthChange($event!)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">Use Letters</label>
          <input (change)="useLettersChangeHandler()" type="checkbox" />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">Use Numbers</label>
          <input (change)="useNumbersChangeHandler()" type="checkbox" />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">Use Symbols</label>
          <input (change)="useSymbolsChangeHandler()" type="checkbox" />
        </div>
      </div>

      <button
        [disabled]="
          !(passwordLength && (useLetters || useNumbers || useSymbols))
        "
        (click)="onGeneratePassword()"
      >
        Generate
      </button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input
          class="input"
          [value]="password"
          placeholder="Password appears here"
        />
      </div>
    </div>
  </div>
</div>
